.container {
  padding: 0.5rem 1rem 2rem 1rem;
  margin: 1rem 4rem 4rem;
  background-color: #241804;
  color: #F2F2F2;
}

.heading {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.artbox{
  flex: 1;
  min-width: 500px;
  height: 100%;
  padding: 15px 10px;
}

.artImg{
  box-shadow: 5px 5px 10px -4px #000;
  border-radius: 5px;
}

.caption{
  font-size: 0.9em;
  line-height: 1;
  margin: 10px;
}

.info{
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  padding: 18% 25px;
}