.container {
  position: relative;
  background-color: #ECF4E9;
  display: flex;
  flex-direction: row;
  padding: 20px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 1.1em;
}

.container2 {
  position: relative;
  padding-right: 100px;
  padding-left: 70PX;
  padding-top: 75px;
  padding-bottom: 75px;
  font-size: 1.1em;
}

.container3 {
  position: relative;
  padding-right: 100px;
  padding-left: 70PX;
  padding-top: 75px;
  padding-bottom: 75px;
  font-size: 1.1em;
  background-color: #ECF4E9;
}

.container4 {
  position: relative;
  padding-right: 100px;
  padding-left: 70PX;
  padding-top: 75px;
  padding-bottom: 75px;
  font-size: 1.1em;
  background-color: #E0EEE2;
}


.slab {
  color: #14A266;
  font-size: 0.9em;
  font-weight: 700;
  padding-bottom: 2px;
}

.heading {
  margin-bottom: 10px;
  font-size: 35px;
}

.mainImg {
  width: 600px;
  height: fit-content;
  margin-bottom: 20px;

}

.mainImg2 {
  width: 650px;
  height: fit-content;
  margin-bottom: 20px;

}

.mainheading {
  margin-bottom: 10px;
  font-size: 45px;
}


.secheading {
  margin-bottom: 10px;
  font-size: 35px;
  color: #000000;
  font-weight: 500;
}

.secimg {
  width: 80%;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 500px;
  margin: 10px 0px;
}

.col2 h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.container3 h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #02693E;
}


.row {
  flex: 1;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  min-width: 600px;
}

.secimg1 {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.secimg2 {
  min-width: 200px;
  max-width: 800px;
}

.secimg3 {
  width: 300px;
}

.secimg4 {
  width: 600px;
}

.imageContainer {
  flex: 2;
  display: flex;
  justify-content: center;
  min-width: 200;
  margin-bottom: 20px;
}

.introContainer {
  flex: 1;
  padding: 50px 0px 10px 50px;
  font-size: 1.1em;
}

.scope {
  /* border-color: #808080;
  border-width: 2px;
  border-style: solid; */
  border-radius: 10px;
  padding: 25px 50px;
  margin: 0px 50px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.9em;
}

.scopeItem {
  width: 33.3%;
  padding: 25px 0px;
  min-width: 150px;
  /* line-height: 30px; */
}

.introSocials {
  margin-top: 10px;
  flex-direction: row;
  display: flex;
}

.socialLinks {
  margin: 0 0.5rem;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}