.footer {
  background-color: #5D5D5D;
  display: flex;
  padding: 25px;
}

.pcontainer{
  padding: 50px 70px;
  background-color: #E9F6F7;
}

.proj {
  color: #494949;
}

.proj:hover {
  color: #0D959F;
  text-decoration: none;
}

.footerInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.slab {
  color: #0D959F;
  font-size: 0.9em;
  font-weight: 600;
  padding-bottom: 10px;
}

.footerCredits {
  flex: 1;
  color: #EBEDEF;
}

.footerLink {
  color: #EBEDEF;
  font-style: italic;
  text-decoration: underline;
  font-weight: 300;
}

.footerSocials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
  gap: 2px;
  align-content: center;
}

.socialLabel {
  color: #ffffff;
  margin-right: 2rem;
  margin-left: 2px;
  padding-top: 2px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.socialLabel:hover, .footerLink {
  color: #ffffff;
}

@media (max-width: 1000px) {
  .footer {
    flex-direction: column;
  }

}