.container {
  padding: 0 1rem;
  margin: 3rem auto 3rem;
  display: flex;
}

.imageContainer {
  flex: 1.5;
  display: flex;
  justify-content: center;
  min-width: 500;
  margin-bottom: 20px;
}

.introContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introSocials{
  margin-top: 10px;
  flex-direction: row;
  display: flex;
}

.socialLinks{
  margin: 0 0.5rem;
}

@media (max-width: 800px) {
  .container{
    flex-direction: column;
    align-items: center;
  }
}