.nav{
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  height: 80px;
  gap: 30px;
  padding-right: 50px;
}

.navItem{
  color: #000000;
  font-weight: 400;
  font-size: 1.1em;
  flex-direction: row;
  display: flex;
  gap: 10px;
  align-content: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 80px;
  line-height: 80px;
}

.navItem:hover{
  color: #0d959f;
  text-decoration: none;
}

.header{
  position: absolute;
  left: 50px;
  font-size: 1.5em;
  color: #0d959f;
  font-weight: 600;
}

.active{
  color: #0d959f;
  font-weight: 600;
}