.projectContainer {
  padding: 4%;
  opacity: 0;
}

.projectContainer .left {
  transform: translateX(-50px);
}

.projectContainer .right {
  transform: translateX(50px);
}

.visible {
  opacity: 1;
  transition-property: opacity;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
}

.visible .left {
  transform: translateX(0px);
  transition-property: transform;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
}

.visible .right {
  transform: translateX(0px);
  transition-property: transform;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
}

.projectDescription {
  display: flex;
  flex-wrap: wrap;
}

.projectHeading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.projectTitle {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  flex: 1;
  color: #000;
}

.projectSubTitle {
  font-size: 1.2rem;
  font-weight: 300;
  flex: 1;
  text-align: right;
}

.projectImage {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: pre-line;
  font-weight: 345;
}

.projectTextRightMargin {
  padding-right: 1rem;
  font-size: 1.1rem;
  margin-right: 2rem;
}

.projectTextLeftMargin {
  margin-left: 2rem;
  padding-left: 1rem;
  font-size: 1.1rem;
}

.projectTech {
  margin-top: 10px;
}

.projectButton {
  font: inherit;
  border: #000;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 5px;
  background-color: #FCFCFC;
  margin-top: 2rem;
  font-size: 0.9em;
  color: #000;
  display: block;
  align-self: flex-end;
  text-align: center;
}

.projectButton:hover {
  background-color: #000;
  color: #FCFCFC;
}

@media (max-width: 1000px) {
  .projectDescription, .projectHeading {
    flex-direction: column;
  }

  .projectTextLeftMargin, .projectTextRightMargin {
    padding: 1rem;
    margin: 0;
  }

}