.container {
  padding: 0 4rem;
  margin: 3rem auto 6rem;
  display: flex;
}

.education {
  flex: 1;
  flex-direction: column;
  display: flex;
  font-size: 0.9em;
  padding: 0 2rem;
}

.experience {
  flex: 1.75;
  padding: 0 2rem;
}