.container {
  padding: 0 4rem;
  margin: 3rem auto 6rem;
  display: flex;
}

.education {
  flex: 1;
  flex-direction: column;
  display: flex;
  font-size: 0.9em;
  padding: 0 2rem;
  background-color: #E5F6FA;
}

.experience {
  flex: 1.75;
  padding: 0 2rem;
  background-color: #E6E5FA;
}

.skills {
  margin: 0;
  padding: 5px 0 0 15px;
}