.workItem {
  opacity: 0;
  transform: translateY(50px);
}

.workItemTitle {
  font-size: 1.2rem;
}

.workItemInfo {
  font-size: 0.9em;
}

.workItemDescription {
  margin: 0;
  font-size: 0.9em;
  padding: 5px 0 0 25px;
}

.visible {
  opacity: 1;
  transform: translateY(0px);
  transition-property: transform, opacity;
  transition-duration: 1s;
}